<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Signin - Cyber Phoenix</title>

        <link rel="stylesheet" href="/css/signin.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <link rel="stylesheet" href="/css/footer.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap"
            rel="stylesheet" />
    </head>

    <body>
        <header><%- include("../includes/navbar.ejs") %></header>

        <main>
            <h1>Sign in as admin</h1>

            <form action="/cp-admin" method="post">
                <div class="username-input">
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username" />
                </div>

                <div class="password-input">
                    <label for="username">Password: </label>
                    <input type="password" name="password" id="password" />
                </div>

                <button>Sign-in</button>
            </form>
        </main>

        <%- include("../includes/footer.ejs") %>
    </body>
</html>
