<footer>
    <div class="club-logo">
        <img
            src="/assets/logo.png"
            alt="cp" />
        <h1>CyberPhoenix</h1>
    </div>

    <div class="part-2 vertical-flex-center">
        <div>CSE Department</div>
        <div>GJUST, Hisar</div>
    </div>

    <div class="copyright-info">&copy; 2025 CyberPhoenix</div>
</footer>
