<footer class="vertical-flex-center">
    <div class="club-logo">
        <img
            src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
            alt="cp" />
        <h1>Cyber Phoenix</h1>
    </div>

    <div class="part-2 vertical-flex-center">
        <div>CSE Department</div>
        <div>GJUST, Hisar</div>
    </div>

    <div class="copyright-info">&copy; 2025 Cyber Phoenix</div>
</footer>
