<nav class="navbar">
    <a href="/" class="logo">
        <img
            src="/assets/logo.png"
            alt="cp" />
        <h1>CyberPhoenix</h1>
    </a>
    <div class="nav-element">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/events">Our Events</a>
        <a class="nav-link" href="/blogs">Hacklogs</a>
        <a class="nav-link" href="/about">About Us</a>
    </div>
    <img
        class="hamburger"
        src="/assets/hamburger.png"
        alt="ham" />
</nav>
