:root {
	--color-1: #e0eeee;
	--color-2: #121315;
	--color-3: #aeb8fe;
	--color-4: #758bfd;
	--color-5: #ff8600;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-2);
	color: var(--color-1);
	font-family: "Kode Mono", sans-serif;
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box {
	border: 2px solid var(--color-1);
	border-radius: 6vmin;
}

.section-club-intro {
	height: 90vh;
}

.club-name {
    font-size: 10.5vmin;
}

.club-tagline {
	font-size: 3vmin;
}

.word {
	display: inline-block;
}

.section-club-desc {
	height: 10vh;
}

.scrolldown-box {
	aspect-ratio: 5/2;
	width: 10vmin;
}

.club-desc-box {
	width: 80vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
	box-sizing: border-box;
}

.section-club-desc h3 {
	display: none;
	text-align: center;
	font-size: 5vmin;
	/* opacity: 0; */
}

.club-desc {
	display: none;
	text-align: center;
	width: 50vw;
	/* opacity: 0; */
}
