body {
    overflow-x: hidden !important;
    padding: 6vw;
}
/* section {
	width: 100%;
} */
a {
    text-decoration: none;
    color: inherit;
}
.vertical {
	display: flex;
	flex-direction: column;
}
.center {
	justify-content: center;
	align-items: center;
}
.vertical-reveal-text {
    overflow: hidden;
}
.vertical-reveal-text div {
    overflow: hidden;
}
.vertical-reveal-text div span {
    display: inline-block;
    transform: translateY(100%);
}

/* -------------------- section 1 */

.section1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.section1-head {
    height: 80vh;
    gap: 2vw;
}
.section1-head h1 {
    line-height: 4.5rem;
    font-size: 5.3rem;
    font-family: "chakra petch", sans-serif;
}
.section1-head h3 {
    font-weight: lighter;
}

/* -------------------- section 2 */
.section2 {
    border: 2px solid #e0eeee;
    border-radius: 1vw;
    padding: 16vh 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
    margin-bottom: 30vh;
    background: linear-gradient(to right, #1a2145, #2a1526);
}
.section2 .section2-head {
    display: flex;
    align-items: start;
    justify-self: start;
    border-right: 2px solid #e0eeee;
    padding: 4vh 8vw 4vh 3vw;
    font-size: 4.5rem;
    line-height: 3.5rem;
    font-family: "chakra petch", sans-serif;
}
.horizontal-text-reveal,
.section4-head h3 span {
    background-color: #2e2f31;
    background-image: url("https://images.unsplash.com/photo-1565300667498-2843c56b4603?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position-x: 0;
    height: fit-content;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.section2 .section2-content {
    justify-self: start;
    align-items: start;
    font-size: 1.3rem;
    padding-left: 4vw;
}

/* ---------------- section 3 */
.section3 {
    margin-bottom: 20vh;
}
.section3-head {
    gap: 4vh;
    margin-bottom: 11vh;
}
.section3 .section3-head h3 {
    font-family: "chakra petch", sans-serif;
    font-size: 4.2rem;
    line-height: 3.3rem;
}
.section3-boxes {
    display: grid;
    grid-template-columns: repeat(5, 28vw);
    grid-template-rows: 1fr;
    gap: 4vw;
}
.section3-box {
    border: 2px solid #e0eeee;
    border-radius: 1vw;
    padding: 10.5vh 3vw;
    display: flex;
    flex-direction: column;
    gap: 8vh;
    background: linear-gradient(to right, #1a2145, #2a1526);
}
.section3-box .box-head {
    font-size: 2.5rem;
    font-weight: bold;
}
.section3-box .box-content {
    font-size: 1.4rem;
}

/* ----------------- section 4 */
.section4 {
    margin-top: 25vh;
    gap: 11vh;
}
.section4-head h3 {
    font-family: "chakra petch", sans-serif;
    font-size: 4.2rem;
    line-height: 3.3rem;
}
.section4 .members-list {
    gap: 1vw;
    font-size: 1.1rem;
}
.members-list .member {
    width: 60vw;
    gap: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.members-list .member img {
    width: 2.7vw;
}
.members-list .line {
    height: 0.3vh;
    border-radius: 2vw;
    width: 100%;
    background-color: #e0eeee;
}

/* -------------------- media queries */
@media (max-width: 1200px) {
    .section1-head h1 {
        font-size: 4.5rem;
        line-height: 3.5rem;
    }
}
@media (max-width: 1000px) {
    .section2 {
        padding: 4vw 4vw;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8vh;
        margin-bottom: 16vh;
    }
    .section2-head {
        font-size: 3rem !important;
        line-height: 2.5rem !important;
        padding: 0 !important;
        border: none !important;
        align-items: center !important;
    }
    .section2-content {
        font-size: 1.1rem !important;
        align-items: center !important;
        padding: 0 !important;
    }
    .section3-head h3 {
        font-size: 3rem !important;
        line-height: 2.5rem !important;
    }
    .section3-boxes {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section3-box {
        width: 70vw;
        padding: 10vh 3vw;
        gap: 3vh;
        align-items: center;
        border-radius: 3vw;
    }
    .members-list {
        gap: 3vh !important;
        margin-bottom: 4vh;
    }
    .members-list .member {
        width: 70vw;
    }
}
@media (max-width: 860px) {
    .section1-head h1 {
        font-size: 3.5rem;
        line-height: 2.8rem;
    }
}
@media (max-width: 600px) {
    body {
        padding: 6vw 3vw;
    }
    .section1-head h1 {
        font-size: 2.7rem;
        line-height: 2.1rem;
    }
    .section1-head h3 {
        font-size: 0.8rem;
    }
    .section2 {
        padding-top: 6vh;
        padding-bottom: 6vh;
        border-radius: 3vw;
    }
    .section2-head {
        font-size: 2.7rem !important;
        line-height: 2.1rem !important;
    }
    .section2-content {
        font-size: 0.8rem !important;
    }
    .section3-head h3 {
        font-size: 2.5rem !important;
        line-height: 2.1rem !important;
    }
    .section3-head div {
        font-size: 0.8rem;
    }
    .section3-box {
        padding: 7vh 8vw;
    }
    .section3-box .box-head {
        font-size: 1.5rem;
    }
    .section3-box .box-content {
        font-size: 0.7rem;
    }
    .section4-head h3 {
        font-size: 2.7rem !important;
        line-height: 2.1rem !important;
    }
    .members-list {
        font-size: 0.7rem !important;
    }
    .member {
        width: 65vw !important;
    }
    .member img {
        width: 5vw !important;
    }
}

@media (max-width: 400px) {
    .section1-head h1 {
        font-size: 1.9rem;
        line-height: 1.5rem;
    }
}

* ----------------- Faculty Section */
.faculty-member {
    width: 60vw;
    display: flex;
    align-items: center;
    padding: 1.5rem 0; /* Add padding for vertical spacing */
}

.faculty-icon{
    width: 5.7vh;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2rem; /* Space between photo and text */
    flex-shrink: 0;
}

.faculty-details {
    display: flex;
    flex-direction: column;
    text-align: end;
}

@media (max-width: 1280px){
    .faculty-icon{
        width: 5.7vh !important;
    }
}

@media (max-width: 600px){
    .faculty-icon{
        width: 5vh !important;
    }
}
.creator{
    margin-top: 2vh;
    text-align: center;
}
@media (max-width: 400px) {
    .creator{
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
}
@media (min-width: 1000px) {
    .creator{
        margin-top: 5vh;
    }
}