:root {
	--color-1: #e0eeee;
	--color-2: #121315;
	--font-title: "chakra petch", sans-serif;
	--font-normal: "space grotesk", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--color-2);
    color: var(--color-1);
    font-family: var(--font-normal);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section {
	width: 100%;
}

span {
	display: inline-block;
}

button {
	cursor: pointer;
}

.vertical {
	display: flex;
	flex-direction: column;
}

.center {
	justify-content: center;
	align-items: center;
}

/* --------- section 1 ---------------- */

.section-1 {
	height: 100vh;
	gap: 4vh;
}

.section-1-heading {
	line-height: 4.5rem;
    font-size: 5.3rem;
	font-family: var(--font-title);
}

.section-1-content {
	font-weight: lighter;
	font-size: 1rem;
}

@media (max-width: 800px) {
    .section-1-heading {
        font-size: 3.5rem;
        line-height: 2.8rem;
    }
}
@media (max-width: 750px) {
    .section-1-content {
        font-size: 0.8rem;
    }
}
@media (max-width: 550px) {
    .section-1-heading {
        font-size: 2.2rem;
        line-height: 1.8rem;
    }
}

/* --------- section 2 ------------ */

.section-2-content {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	gap: 2vw;
	height: fit-content;
	margin-bottom: 6vw;
}

.blog {
	border-radius: 1vw;
    padding: 5vw 7vw;
	/* border: 2px solid var(--color-1); */
	padding: 5%;
	background-color: #1a1c21;
    overflow: hidden;
	width: 100%;
}

.blog-content {
	row-gap: 1vw;
}

.blog-heading {
	font-size: 2rem;
	font-weight: bold;
	font-family: var(--font-title);
	transition: all 0.25s;
}

.blog-heading:hover {
	opacity: 0.75 !important;
	cursor: pointer;
}

.blog:nth-child(even) {
	transform: translateY(20%);
}

.tags-heading {
	font-weight: bolder;
}

.blog-keywords {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 1rem;
	gap: 0.5vw;
}

.blog-button {
	width: fit-content;
    padding: 1vw 2vw;
    border-radius: 2vw;
	background-color: var(--color-1);
    font-family: "space grotesk", sans-serif;
    margin-top: 2vh;
	transition: all 0.25s;
	border: 2px solid var(--color-1);
}

.blog-button:hover {
	color: var(--color-1);
	background-color: transparent;
}

@media (max-width: 600px) {
	.section-2-content {
		grid-template-columns: 1fr;
		gap: 10vw;
	}
	.blog:nth-child(even) {
		transform: none;
	}
	.blog-content {
		row-gap: 4vw;
	}
	
	.blog-keywords {
		gap: 1vw;
		font-size: 0.8rem;
	}
}