* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #121315;
    padding: 6vw;
    color: #e0eeee;
    font-family: "space grotesk", sans-serif;
}

.vertical-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------- section 1 --------------------- */
.section1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.section1-head {
    height: 80vh;
    gap: 3rem;
}
.section1-head h1 {
    font-size: 5.3rem;
    line-height: 4.2rem;
}
.section1-head h3 {
    font-weight: lighter;
}

/* --------------------- section 2 ----------------------- */
.section2 {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-bottom: 10vh;
}
.section2 .event {
    /* border: 2px solid #e0eeee; */
    border-radius: 1vw;
    padding: 5vw 7vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1a1c21;
    overflow: hidden;
}
.event-date {
    font-size: 2.5rem;
    overflow: hidden;
    height: 2.5rem;
}
.event-date span {
    transform: translateY(100%);
    display: inline-block;
}
.event-info {
    justify-self: end;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}
.event-info .event-title {
    font-size: 2rem;
}
.event-keywords {
    display: flex;
    gap: 4vw;
    font-size: 1.3rem;
}
.keywords {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.keywords h5 {
    font-weight: 400;
}

button {
    width: fit-content;
    padding: 1vw 2vw;
    border-radius: 2vw;
    font-family: "space grotesk", sans-serif;
    margin-top: 2vh;
}

/* ------------------- media queries ------------------- */
@media (max-width: 1200px) {
    .section1-head h1 {
        font-size: 4.5rem;
        line-height: 3.5rem;
    }
    .event-date {
        font-size: 2rem;
    }
    .event-info .event-title {
        font-size: 1.5rem;
    }
}
@media (max-width: 950px) {
    .event {
        display: flex !important;
        flex-direction: column;
        gap: 5vh;
    }
}
@media (max-width: 860px) {
    .section1-head h1 {
        font-size: 3.5rem;
        line-height: 2.8rem;
    }
    .event-date {
        font-size: 1.5rem;
    }
    .event-info .event-title {
        font-size: 1.2rem;
    }
    .event-keywords {
        font-size: 1rem;
    }
    button {
        margin-top: 6vw;
    }
}
@media (max-width: 600px) {
    body {
        padding: 6vw 9vw;
    }
    .section1-head h1 {
        font-size: 2.8rem;
        line-height: 2.3rem;
    }
    .section1-head h3 {
        font-size: 1rem;
    }
    button {
        padding: 2vw 4vw;
        border-radius: 10vw;
    }
}
@media (max-width: 500px) {
    .section1-head h1 {
        font-size: 2.2rem;
        line-height: 1.8rem;
    }
}
@media (max-width: 400px) {
    .event .event-date {
        font-size: 1.3rem;
    }
    .event .event-title {
        font-size: 1rem;
    }
    .event-keywords {
        font-size: 0.8rem;
    }
}
