/* ------------------- footer --------------------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 0 3vw 0;
    gap: 2vw;
}
footer .club-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-family: "chakra petch", sans-serif;
}
footer .club-logo img {
    width: 2vw;
}
footer .part-2 {
    gap: 1vw;
}
@media (max-width: 1120px) {
    footer h1 {
        font-size: 1.4rem;
    }
}
@media (max-width: 800px) {
    footer h1 {
        font-size: 1.1rem;
    }
    footer .part-2, footer .copyright-info {
        font-size: 0.8rem;
    }
}
