body {
    padding: 6vw;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 600px) {
    body {
        padding: 3vw !important;
    }
}

.vertical-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------- section 1-------------------------- */

.section1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.section1-head {
    height: 80vh;
    gap: 2vw;
}
.section1-head h1 {
    line-height: 4.5rem;
    font-size: 5.3rem;
    font-family: "chakra petch", sans-serif;
}
.section1 h3 {
    font-weight: lighter;
    font-size: 1rem;
    margin-top: 2vh;
    text-align: center;
}
@media (max-width: 1120px) {
    .section1-head .wrapper-span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 800px) {
    .section1-head h1 {
        font-size: 3.5rem;
        line-height: 2.8rem;
    }
}
@media (max-width: 750px) {
    .section1-head h3 {
        font-size: 0.7rem;
    }
}
@media (max-width: 550px) {
    .section1-head h1 {
        font-size: 2.8rem;
        line-height: 2.2rem;
    }
}
@media (max-width: 350px) {
    .section1-head h1{
        font-size: 2.1rem;
        line-height: 1.6rem;
    }
    .section1-head h3 {
        font-size: 0.5rem;
    }
}

/* --------------------- section 2 ------------------ */
.section2 {
    width: 80vw;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 3fr 4fr;
    border: 2px solid #e0eeee;
    border-radius: 1vw;
    padding: 3vw;
    margin-bottom: 16vw;
    background: linear-gradient(to right, #1a2145, #2a1526);
}
.section2-head {
    gap: 0;
    font-family: "chakra petch", sans-serif;
}
.section2-part1 {
    align-self: center;
}
.section2-part1 h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 4.5rem;
    line-height: 3.5rem;
    font-family: "chakra petch", sans-serif;
}
.section2-part1 h1 span {
    background-color: #2e2f31;
    background-image: url("https://images.unsplash.com/photo-1565300667498-2843c56b4603?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position-x: 0;
    height: fit-content;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.section2-part2 {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}
.para-1 {
    font-size: 1.8rem;
    overflow: hidden;
}
.line {
    overflow: hidden;
}
.line span {
    transform: translateY(100%);
    display: inline-block;
}

button {
    width: fit-content;
    padding: 1vw 2vw;
    font-size: 1.1rem;
    border: 2px solid #e0eeee;
    background-color: #e0eeee;
    color: #121315;
    border-radius: 2vw;
    cursor: pointer;
    font-family: "space grotesk", sans-serif;
    transition: all 0.35s;
}
button:hover {
    background-color: transparent;
    color: #e0eeee;
}
@media (max-width: 1000px) {
    .section2-part1 h1 {
        font-size: 3rem;
        line-height: 2.5rem;
    }
    .section2-part2 .para-1 {
        font-size: 1.4rem;
    }
}
@media (max-width: 850px) {
    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8vh;
        padding: 8vh 4vw;
    }
    .section2-part1 h1 {
        justify-content: center;
        align-items: center;
    }
    .section2-part2 {
        justify-content: center;
        align-items: center;
        gap: 10vw;
    }
    .section2 .para-1 {
        font-size: 1rem;
    }
    .section2 .para-2 {
        font-size: 0.8rem;
    }
}
@media (max-width: 550px) {
    .section2 {
        border-radius: 5vw;
    }
    .section2-part1 h1 {
        font-size: 2.7rem;
        line-height: 2.1rem;
    }
    .section2-part2 button {
        padding: 2.5vw 4vw;
        border-radius: 6vw;
        font-size: 0.8rem;
    }
    .section2-part2 .para-1 .line {
        font-size: 0.9rem;
    }
    .section2-part2 .para-2 {
        font-size: 0.7rem;
    }
}

/* ----------------------- section 3 ---------------------- */
.section3 {
    margin-bottom: 16vw;
    width: 80vw;
    overflow: hidden;
}
.section3-head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 6vw;
}
.section3-head div {
    font-family: "space grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}
.section3-head h1 {
    font-family: "chakra petch", sans-serif !important;
    display: flex;
    flex-direction: column;
    font-size: 4.5rem;
    line-height: 3.5rem;
}
.section3-head h1 span {
    background-color: #2e2f31;
    background-image: url("https://images.unsplash.com/photo-1565300667498-2843c56b4603?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position-x: 0;
    height: fit-content;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.section3-head h3 {
    font-weight: lighter;
    font-size: 1.1rem;
    overflow: hidden;
}
.section3-element {
    display: flex;
    gap: 17vw;
    margin-bottom: 7vw;
}
.element-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vw;
}
.element-content h1 {
    font-size: 3rem;
}
.element-content h3 {
    font-weight: normal;
}
.section3-element img {
    width: 40vw;
    border-radius: 2vw;
}

@media (max-width: 1120px) {
    .section3-head {
        margin-bottom: 20vw;
    }
    .section3-head div {
        grid-column: 1 / span 2;
    }
    .section3-head h1 {
        font-size: 3rem;
        line-height: 2.5rem;
    }
    .section3-elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 14vh;
    }
    .section3-element {
        flex-direction: column;
        gap: 4vw;
    }
    .el1,
    .el3 {
        flex-direction: column-reverse;
    }
    .element-content h1 {
        font-size: 1.8rem;
    }
    .element-content h3 {
        font-size: 0.8rem;
    }
}
@media (max-width: 700px) {
    .section3-element img {
        width: 90%;
    }
}
@media (max-width: 550px) {
    .section3 {
        margin-top: 10vh;
        margin-bottom: 20vh;
    }
    .section3-head {
        grid-template-columns: 1fr 1fr;
    }
    .section3-head h1 {
        font-size: 2.7rem;
        line-height: 2.1rem;
    }
    .section3-head h3 {
        font-size: 0.8rem;
    }
    .section3-element .element-content h1 {
        font-size: 1.2rem;
    }
    .section3-element .element-content h3 {
        font-size: 0.7rem;
    }
}

/* ----------------------- section 4 ---------------------- */
.section4 {
    gap: 3rem;
    margin-bottom: 20vw;
    width: 70vw;
    overflow: hidden;
}
.section4-head {
    font-size: 4.5rem;
    line-height: 3.5rem;
    font-family: "chakra petch", sans-serif;
}
.section4-head span {
    background-color: #2e2f31;
    background-image: url("https://images.unsplash.com/photo-1565300667498-2843c56b4603?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position-x: 0;
    height: fit-content;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.section4 button {
    margin-top: 8vh;
}

@media(max-width: 1120px) {
    .section4-part1 h1 {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}
@media (max-width: 500px) {
    .section4-part1 h1 {
        font-size: 2.7rem;
        line-height: 2.1rem;
    }
}

/* --------------- events --------------- */

.section4-part2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 4vw;
}
.event {
    border: 2px solid #e0eeee;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 3vw 4vw;
    width: 100%;
}
.event .event-date {
    font-size: 3rem;
    gap: 2vh;
    display: flex;
    flex-direction: column;
}
.event-1 {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #c93202;
    color: #121315;
}
.event-2 {
    grid-column: 2;
    grid-row: 2 / 4;
    background-color: #c2cbcc;
    color: #121315;
}
.event-3 {
    grid-column: 1;
    grid-row: 3 / 5;
    background-color: #a1c9b8;
    color: #121315;
}
.event-4 {
    grid-column: 2;
    grid-row: 4 / 6;
    background-color: #eb129f;
    color: #121315;
}
.event-5 {
    grid-column: 1;
    grid-row: 5 / 9;
    background-color: #decf3e;
    color: #121315;
}
@media (max-width: 900px) {
    .section4-part2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vh;
    }
}
@media (max-width: 550px) {
    .event {
        border-radius: 4vw;
        padding: 5vw 4vw;
        gap: 4vw;
    }
    .event .event-date {
        font-size: 1.8rem;
        gap: 0;
    }
    .section4 button {
        border-radius: 6vw;
        padding: 2.8vw 5vw;
        margin-bottom: 5vh;
        font-size: 0.8rem;
    }
}

/* ------------------------- section 5 ------------------------- */
.section5 {
    gap: 14vw;
    width: 80vw;
    overflow-x: hidden;
    margin-bottom: 4vw;
}
.section5-head {
    font-size: 4.5rem;
    line-height: 3.5rem;
    font-family: "chakra petch", sans-serif;
}
.section5-head span {
    background-color: #2e2f31;
    background-image: url("https://images.unsplash.com/photo-1565300667498-2843c56b4603?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position-x: 0;
    height: fit-content;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.social-links {
    gap: 3vw;
}
.social {
    display: flex;
    width: 35vw;
    flex-direction: column;
    gap: 1vw;
    font-size: 1.5rem;
}
.social-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social img {
    width: 3vw;
}
.social a {
    text-decoration: none;
    color: #e0eeee;
}
.social-links .line {
    height: 0.3vh;
    border-radius: 2vw;
    width: 100%;
    background-color: #e0eeee;
}
.expand {
    gap: 24vw;
}
@media(max-width: 1120px) {
    .section5-head {
        font-size: 3rem;
        line-height: 2.5rem;
    }
    .social {
        font-size: 0.8rem !important;
    }
}
@media (max-width: 550px) {
    .section5-head {
        font-size: 2.7rem;
        line-height: 2.1rem;
    }
    .social {
        width: 80vw;
        gap: 2vh;
    }
    .social-text {
        font-size: 1rem;
    }
    .social img {
        width: 5vw;
    }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 20%;
  display: none;
}

