/* ----------------------- navbar -------------------- */

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2vw 3vw;
    width: 100%;
}
.logo {
    font-family: "chakra petch", sans-serif;
}
.nav-element {
    display: flex;
    gap: 2vw;
}
.nav-link {
    text-decoration: none;
    color: #e0eeee;
}
nav img {
    position: absolute;
    width: 3vw;
    display: none;
    cursor: pointer;
    right: 2vw;
    top: 2vw;
}
@media (max-width: 900px) {
    nav img {
        display: block;
    }
    nav {
        flex-direction: column !important;
        gap: 3vh;
    }
    .nav-element {
        position: absolute;
        height: 0;
        opacity: 0;
        overflow: hidden;
        flex-direction: column !important;
    }
    nav .logo h1 {
        font-size: 1rem;
    }
}
