:root {
	--color-1: #e0eeee;
	--color-2: #121315;
	--font-title: "chakra petch", sans-serif;
	--font-normal: "space grotesk", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--color-2);
    color: var(--color-1);
    font-family: var(--font-normal);
}
main {
    padding: 15vh 4vw;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
form {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
form div {
    display: flex;
    align-items: center;
    gap: 3vw;
}
input, textarea {
    font-family: var(--font-normal);
    border-radius: 1vw;
    padding: 1vh 1vw;
    background: transparent;
    border: 2px solid var(--color-1);
    color: var(--color-1);
    font-size: 1.1rem;
}
form button {
    width: fit-content;
    font-family: var(--font-normal);
    padding: 1.5vh 2vw;
    border-radius: 1vw;
    color: var(--color-2);
    background-color: var(--color-1);
    font-size: 1.1rem;
    margin-top: 5vh;
}
