<% layout("/layouts/boilerplate.ejs") %>
<main>
	<section class="section-club-intro vertical-center">
		<h1 class="club-name">CyberPhoenix</h1>
		<h2 class="club-tagline">
			<span class="word">Securing</span>
			<span class="word">Tomorrow's</span>
			<span class="word">World</span>
			<span class="word">Today</span>
		</h2>
	</section>
	<section class="section-club-desc vertical-center">
		<div class="scrolldown-box box">
			<h3 class="horizontal-text-reveal">About Us</h3>
			<div class="club-desc">
				CyberPhoenix is a club under the CSE department of Guru
				Jambheshwar University of Science & Technology. We are a group
				of cybersecurity enthusiasts who aspire to create a secure
				digital environment for everyone but for now we are initiating
				that dream by making our university aware!
			</div>
		</div>
	</section>
	<section class="section-goals vertical-center">
		<h3 class="goals-heading horizontal-text-reveal">Our Goals</h3>
		<ul class="goals-list">
			<li class="goal-item">
				Make students aware about scams and hacking trends
			</li>
			<li class="goal-item">
				Guide students to build path in Cyber Security
			</li>
			<li class="goal-item">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Suscipit, eum.
			</li>
			<li class="goal-item">
				Lorem ipsum dolor, sit amet consectetur adipisicing.
			</li>
		</ul>
	</section>
	<section class="section-team vertical-center">
		<h3 class="team-heading horizontal-text-reveal">Meet our team</h3>
		<div class="team-container">
			<div class="member">
				<h4 class="member-name">Anuj</h4>
				<div class="member-role">Coordinator</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
			<div class="member">
				<h4 class="member-name">Aakash</h4>
				<div class="member-role">Vice Coordinator</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
			<div class="member">
				<h4 class="member-name">Piyush</h4>
				<div class="member-role">Core Team Member</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
			<div class="member">
				<h4 class="member-name">Kartik</h4>
				<div class="member-role">Core Team Member</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
			<div class="member">
				<h4 class="member-name">Nishant</h4>
				<div class="member-role">Core Team Member</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
			<div class="member">
				<h4 class="member-name">Prashant</h4>
				<div class="member-role">Core Team Member</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
			<div class="member">
				<h4 class="member-name">Lakshika</h4>
				<div class="member-role">Media Team Head</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
			<div class="member">
				<h4 class="member-name">Kanishka</h4>
				<div class="member-role">Media Team Member</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
			<div class="member">
				<h4 class="member-name">Devdeep</h4>
				<div class="member-role">Media Team Member</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
			<div class="member">
				<h4 class="member-name">Uday</h4>
				<div class="member-role">Technical Team Head</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
			<div class="member">
				<h4 class="member-name">Arpita</h4>
				<div class="member-role">Website Team Head</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
			<div class="member">
				<h4 class="member-name">Abhinav</h4>
				<div class="member-role">Website Team Member</div>
				<div class="member-connect">
					<button class="member-connect-button">Connect</button>
				</div>
			</div>
		</div>
	</section>
</main>
<script src="/js/about.js"></script>
