<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blogs</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap"
            rel="stylesheet" />

		<link rel="stylesheet" href="/css/global.css" />
        <link rel="stylesheet" href="/css/about.css" />
        <link rel="shortcut icon" href="/assets/logo.ico" type="image/x-icon">

         <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-RKGR9PSRNT"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-RKGR9PSRNT');
        </script>
    </head>

    <body>
        <header><%- include("../includes/navbar.ejs") %></header>

        <main>
            <section class="section1">
                <div class="section1-head vertical-flex-center">
                    <h1 class="vertical-flex-center">
                        <span>AN AMAZING</span><span>TECHNICAL CLUB.</span>
                    </h1>

                    <h3 class="vertical-flex-center">
                        <span>Group of aspiring techies gathered</span
                        ><span>together to guide students</span
                        ><span>learn the ways of cybersecurity.</span>
                    </h3>
                </div>
            </section>

            <section class="section2">
                <h3 class="section2-head vertical-flex-center">
                    <span class="horizontal-text-reveal">BUT WHO</span
                    ><span class="horizontal-text-reveal">WE REALLY</span
                    ><span class="horizontal-text-reveal">ARE?</span>
                </h3>

                <div
                    class="section2-content vertical-flex-center vertical-reveal-text">
                    <div class="line">
                        <span>We are a group of students</span>
                    </div>
                    <div class="line">
                        <span>from CSE department of GJUS&T</span>
                    </div>
                    <div class="line">
                        <span>gathered to guide and help students advance</span>
                    </div>
                    <div class="line"><span>career in the field of cybersecurity.</span></div>
                </div>
            </section>


            <!-- Our Goals -->
            <section class="section3">
                <div class="section3-head vertical-flex-center">
                    <h3 class="vertical-flex-center">
                        <span class="horizontal-text-reveal">OUR</span
                        ><span class="horizontal-text-reveal">GOALS</span>
                    </h3>
                    <div
                        class="section3-subhead vertical-flex-center vertical-reveal-text">
                        <div class="line">
                            <span>These are things we</span>
                        </div>
                        <div class="line"><span>strive to achieve</span></div>
                    </div>
                </div>

                <div class="boxes-wrapper">
                    <div class="section3-boxes">
                        <div class="section3-box">
                            <div class="box-head">1. Forge Cyber Guardians</div>
                            <div class="box-content">
                                Train and empower individuals with the knowledge and
                                 skills to defend the digital realm.
                            </div>
                        </div>
                        <div class="section3-box">
                            <div class="box-head">2. Demystify the Cyber World</div>
                            <div class="box-content">
                                Break myths and misconceptions about cybersecurity, 
                                making it accessible to all.
                            </div>
                        </div>
                        <div class="section3-box">
                            <div class="box-head">3. Engage in Ethical Mastery</div>
                            <div class="box-content">
                                Promote ethical hacking, responsible security practices, 
                                and cyber awareness.
                            </div>
                        </div>
                        <div class="section3-box">
                            <div class="box-head">4. Build a United Front</div>
                            <div class="box-content">
                                Foster a strong community of like-minded defenders, 
                                sharing knowledge and growing together.
                            </div>
                        </div>
                        <div class="section3-box">
                            <div class="box-head">5. Face the Digital Trials</div>
                            <div class="box-content">
                                Provide hands-on challenges, competitions, and 
                                real-world scenarios to sharpen skills
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Our Faculty Advisors -->
            <section class="section4 vertical-flex-center">
    <div class="section4-head">
        <h3 class="vertical-flex-center">
            <span class="span-1">FACULTY</span><span class="span-2">ADVISORS</span>
        </h3>
    </div>

    <div class="members-list vertical-flex-center">
        <div class="member">
            <img src="/assets/op-sir.jpeg" alt="Dr. Om Prakash Sangwan" class="faculty-icon">
            <div class="faculty-details">
                <div class="member-name"><u>Dr. Om Prakash Sangwan</u></div>
                <div class="member-role">Chairperson of CSE Department</div>
            </div>
        </div>
        <div class="line"></div>

        <div class="member">
            <img src="/assets/anupma-mam.jpeg" alt="Dr. Anupma Sangwan" class="faculty-icon">
            <div class="faculty-details">
                <div class="member-name"><u>Dr. Anupma Sangwan</u></div>
                <div class="member-role">Faculty in-charge of CyberPhoenix Club</div>
            </div>
        </div>
        <div class="line"></div>
    </div>
</section>


<!-- Our Team -->
            <section class="section4 vertical-flex-center">
                <div class="section4-head">
                    <h3 class="vertical-flex-center">
                        <span class="span-1">OUR</span
                        ><span class="span-2">TEAM</span>
                    </h3>
                </div>

                <div class="members-list vertical-flex-center">
                    <a href="https://www.linkedin.com/in/anuj-kumar-261471251">
                        <div class="member">
                            <div class="member-name">Anuj Kumar</div>
                            <div class="member-role">Mentor (Founder)</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/aakash-sehgal">
                        <div class="member">
                            <div class="member-name">Aakash Sehgal</div>
                            <div class="member-role">Mentor (Co-founder)</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/piyush-bansal-662344219">
                    <div class="member">
                        <div class="member-name">Piyush Bansal</div>
                        <div class="member-role"> Mentor</div>
                        <div class="member-icon">
                            <img
                                src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                alt="linkedin"
                                class="social-icon" />
                        </div>
                    </div>
                    <div class="line"></div>
                </a>

                    <a href="https://www.linkedin.com/in/lakshika-soni-9a2bba291">
                        <div class="member">
                            <div class="member-name">Lakshika Soni</div>
                            <div class="member-role">Media Team Mentor</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/nishant179">
                        <div class="member">
                            <div class="member-name">Nishant</div>
                            <div class="member-role">Coordinator</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                        <a href="https://www.linkedin.com/in/harsh-sharma80?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                        <div class="member">
                            <div class="member-name">Harsh Sharma</div>
                            <div class="member-role">Coordinator</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                     <a href="https://www.linkedin.com/in/bindal-uday">
                        <div class="member">
                            <div class="member-name">Uday</div>
                            <div class="member-role">Co-Coordinator</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/yash-raj-0105a5330?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                        <div class="member">
                            <div class="member-name">Yash Raj</div>
                            <div class="member-role">Co-Coordinator</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/rudrakshi-mittal-269743345">
                        <div class="member">
                            <div class="member-name">Rudrakshi</div>
                            <div class="member-role">Core Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/harshrajranjan01?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                        <div class="member">
                            <div class="member-name">Harsh Raj Ranjan</div>
                            <div class="member-role">Core Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                    
                    <a href="https://in.linkedin.com/in/cyber-b757a9379">
                        <div class="member">
                            <div class="member-name">Lakshay</div>
                            <div class="member-role">Core Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/nitya-chhabra-477a9b325?utm_source=share_via&utm_content=profile&utm_medium=member_android">
                        <div class="member">
                            <div class="member-name">Nitya</div>
                            <div class="member-role">Core Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                    
                     <a href="https://www.linkedin.com/in/devdeepdhariiwal">
                        <div class="member">
                            <div class="member-name">Devdeep</div>
                            <div class="member-role">Technical Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/saniya-yadav-5471b3323?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                        <div class="member">
                            <div class="member-name">Saniya Yadav</div>
                            <div class="member-role">Technical Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/yachika-2b940238a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                        <div class="member">
                            <div class="member-name">Yachika</div>
                            <div class="member-role">Technical Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/vikasdhiiman?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                        <div class="member">
                            <div class="member-name">Vikas</div>
                            <div class="member-role">Technical Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                                        
                    <a href="https://www.linkedin.com/in/dushyant-yadav-305b69211?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                        <div class="member">
                            <div class="member-name">Dushyant</div>
                            <div class="member-role">Media Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                    
                    <a href="https://www.linkedin.com/in/lakshy-rana-9655a8323?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                        <div class="member">
                            <div class="member-name">Lakshay Rana</div>
                            <div class="member-role">Media Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                    
                    <a href="https://www.linkedin.com/in/harshit-mishra-6aa4a0337?utm_source=share_via&utm_content=profile&utm_medium=member_android">
                        <div class="member">
                            <div class="member-name">Harshit Raj Mishra</div>
                            <div class="member-role">Media Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                    
                    <a href="https://www.linkedin.com/in/nityansh-juneja-355bb4378?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                        <div class="member">
                            <div class="member-name">Nityansh</div>
                            <div class="member-role">Media Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    
                    <a href="https://www.linkedin.com/in/meera-catter-738450277">
                        <div class="member">
                            <div class="member-name">Meera Catter</div>
                            <div class="member-role">Website Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/kunal-phogat-b20752294?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                        <div class="member">
                            <div class="member-name">Kunal Phogat</div>
                            <div class="member-role">Website Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                    
                </div>

                <section class="section4 vertical-flex-center">
                <div class="section4-head">
                    <h3 class="vertical-flex-center">
                        <span class="span-1">OUR</span
                        ><span class="span-2">FOUNDERS</span>
                    </h3>
                </div>
                
                <div class="members-list vertical-flex-center">
                    
                    <a href="https://www.linkedin.com/in/kartik-cy63r-h">
                        <div class="member">
                            <div class="member-name">Kartik</div>
                            <div class="member-role">Core Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/prashant-s-730aa3297">
                        <div class="member">
                            <div class="member-name">Prashant</div>
                            <div class="member-role">Core Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/arpita26">
                        <div class="member">
                            <div class="member-name">Arpita</div>
                            <div class="member-role">Website Team Head</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/001-abhinav-dhiman">
                        <div class="member">
                            <div class="member-name">Abhinav</div>
                            <div class="member-role">Website Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/aaryan-0a5880328">
                        <div class="member">
                            <div class="member-name">Aaryan</div>
                            <div class="member-role">Media Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>

                    <a href="https://www.linkedin.com/in/kanishka-yadav-403a11256">
                        <div class="member">
                            <div class="member-name">Kanishka</div>
                            <div class="member-role">Media Team Member</div>
                            <div class="member-icon">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                    alt="linkedin"
                                    class="social-icon" />
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                </div>
            </section>
        </main>

        <div class="creator vertical-flex-center">
        <div> Original Creator of Website: Arpita & Abhinav </div>
        </div>
        <%- include("../includes/footer.ejs") %>
        
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
        <script src="/js/about.js"></script>
        <script src="/js/navbar.js"></script>
    </body>
</html>


