<% layout("/layouts/boilerplate.ejs") %>
<main>
	<div class="club-details-container">
		<div class="bg-circle">-</div>

		<div class="club-details">
            <h1 class="club-name">CyberPhoenix</h1>
            <h2 class="club-tagline">Securing Tomorrow's World Today!</h2>
            <div class="club-description">
                CyberPhoenix is a club under the CSE department of Guru Jambheshwar
                University of Science & Technology. We are a group of cybersecurity
                enthusiasts who aspire to create a secure digital environment for
                everyone but for now we are initiating that dream by making our
                university aware!
            </div>
		</div>
	</div>

	<div class="goals-container">
		<h3 class="goals-heading">Our Goals</h3>
		<ul class="goals-list">
			<li class="goal-item">
				Make students aware about scams and hacking trends
			</li>
			<li class="goal-item">
				Guide students to build path in Cyber Security
			</li>
			<li class="goal-item">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Suscipit, eum.
			</li>
			<li class="goal-item">
				Lorem ipsum dolor, sit amet consectetur adipisicing.
			</li>
		</ul>
	</div>
</main>
