<% layout("/layouts/boilerplate.ejs") %>
<main>
	<section class="section-club-intro vertical-center">
		<h1 class="club-name">CyberPhoenix</h1>
		<h2 class="club-tagline">
			<span class="word">Securing</span>
			<span class="word">Tomorrow's</span>
			<span class="word">World</span>
			<span class="word">Today</span>
		</h2>
	</section>
	<section class="section-club-description vertical-center">
		<div class="scrolldown-box box"></div>
	</section>
	<div class="goals-container">
		<h3 class="goals-heading">Our Goals</h3>
		<ul class="goals-list">
			<li class="goal-item">
				Make students aware about scams and hacking trends
			</li>
			<li class="goal-item">
				Guide students to build path in Cyber Security
			</li>
			<li class="goal-item">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Suscipit, eum.
			</li>
			<li class="goal-item">
				Lorem ipsum dolor, sit amet consectetur adipisicing.
			</li>
		</ul>
	</div>
</main>
