<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blogs</title>

		<link rel="stylesheet" href="/css/blogs.css" />
		<link rel="stylesheet" href="/css/navbar.css" />
		<link rel="stylesheet" href="/css/footer.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<header><%- include("../includes/navbar.ejs") %></header>

		<main>
			<section class="section-1 vertical center">
				<h1 class="section-1-heading vertical center">
					<span>DELVE INTO</span>
					<span> THE WORLD OF </span>
					<span>CYBER MAGIC</span>
				</h1>

				<div class="section-1-content vertical center">
					<span>Deepen your understanding of the cyber world</span
					><span>  with specially curated blogs</span>
				</div>
			</section>

			<section class="section-2 vertical center">
				<div class="section-2-content">
					<% for (let i = 0; i<50; i++) {%>
					<div class="blog">
						<div class="blog-content vertical">
							<h2 class="blog-heading">
								<span>
									How to hack any wifi within 15 minutes?
								</span>
							</h2>
							<div class="blog-date">
								<span>09, March 2025</span>
							</div>
                            <div class="tags-heading">Tags:</div>
							<div class="blog-keywords">
								<span class="keywords">Lorem</span
								><span class="keywords">Ipsum</span
								><span class="keywords">Cogullo</span
								><span class="keywords">Kistamba</span
								><span class="keywords">Toistureto</span
								><span class="keywords">San</span
								><span class="keywords">Domero</span
								><span class="keywords">Ishkumboshiko</span
								><span class="keywords">Tirdoma</span
								><span class="keywords">Taska</span>
							</div>
						</div>
						<button class="blog-button">Read</button>
					</div>
					<%}%>
				</div>
			</section>
		</main>

		<%- include("../includes/footer.ejs") %>

		<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
		<script src="/js/blogs.js"></script>
	</body>
</html>
