<% layout("/layouts/boilerplate.ejs") %>
<main>
	<div class="blogs-page-container">
		<div id="blogtext">
			<h2>Read our Blogs:</h2>
		</div>
		<div class="blogs-container">
			<% for (let i = 0; i<50; i++) {%>
			<div class="blog">
				<img
					src="https://previews.123rf.com/images/aimage/aimage1706/aimage170600007/79563474-vector-illustration-of-cyber-security.jpg"
					alt="img"
					class="blog-thumbnail"
					loading="lazy"
				/>
				<div class="blog-details">
					<div class="blog-title">
						How to hack any wifi within 15 minutes?
					</div>
					<div class="blog-post-date blog-subtitle">
						09, March 2025
					</div>
				</div>
				<button class="blog-read-button">Read</button>
			</div>
			<%}%>
		</div>
	</div>
</main>
