<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Events - Cyber Phoenix</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap"
            rel="stylesheet" />

        <link rel="stylesheet" href="/css/events.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <link rel="stylesheet" href="/css/footer.css" />
    </head>

    <body>
        <header><%- include("../includes/navbar.ejs") %></header>

        <main>
            <section class="section1">
                <div class="section1-head vertical-flex-center">
                    <h1 class="vertical-flex-center">
                        <span>EXPERIENCE</span>
                        <span>OUR WILD CYBER</span>
                        <span>MAGIC</span>
                    </h1>

                    <h3 class="vertical-flex-center">
                        <span>Experience the wild array of</span
                        ><span> events that make our club </span
                        ><span>stand out</span>
                    </h3>
                </div>
            </section>

            <section class="section2">
                <div class="event">
                    <h1 class="event-date">21 March 2025</h1>

                    <div class="event-info">
                        <h1 class="event-title">Lorem ipsum dolor sit amet</h1>

                        <div class="event-keywords">
                            <div class="keywords">
                                <h5>Firewall</h5>
                                <h5>Phishing</h5>
                                <h5>Encryption</h5>
                                <h5>Malware</h5>
                                <h5>Ransomware</h5>
                            </div>
                            <div class="keywords">
                                <h5>Penetration Testing</h5>
                                <h5>Dark Web</h5>
                                <h5>Botnet</h5>
                                <h5>DDoS Attack</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="event">
                    <h1 class="event-date">21 March 2025</h1>

                    <div class="event-info">
                        <h1 class="event-title">Lorem ipsum dolor sit amet</h1>

                        <div class="event-keywords">
                            <div class="keywords">
                                <h5>Firewall</h5>
                                <h5>Phishing</h5>
                                <h5>Encryption</h5>
                                <h5>Malware</h5>
                                <h5>Ransomware</h5>
                            </div>
                            <div class="keywords">
                                <h5>Penetration Testing</h5>
                                <h5>Dark Web</h5>
                                <h5>Botnet</h5>
                                <h5>DDoS Attack</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="event">
                    <h1 class="event-date">21 March 2025</h1>

                    <div class="event-info">
                        <h1 class="event-title">Lorem ipsum dolor sit amet</h1>

                        <div class="event-keywords">
                            <div class="keywords">
                                <h5>Firewall</h5>
                                <h5>Phishing</h5>
                                <h5>Encryption</h5>
                                <h5>Malware</h5>
                                <h5>Ransomware</h5>
                            </div>
                            <div class="keywords">
                                <h5>Penetration Testing</h5>
                                <h5>Dark Web</h5>
                                <h5>Botnet</h5>
                                <h5>DDoS Attack</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include("../includes/footer.ejs") %>

        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
        <script src="/js/events.js"></script>
    </body>
</html>
