<% layout("/layouts/boilerplate.ejs") %>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>Cyber Phoenix</h1>
            </div>
            <div class="nav-element">
                <a class="nav-link" href="#">Our Events</a>
                <a class="nav-link" href="#">Blogs</a>
                <a class="nav-link" href="#">Roadmaps</a>
                <a class="nav-link" href="#">About Us</a>
            </div>
            <img class="hamburger" src=".../assets/hamburger.png" alt="ham" />
        </nav>
    </header>

    <main>
        <section class="section1">
            <div class="part1 vertical-flex-center">
                <h1 class="section1-head vertical-flex-center">
                    <span class="head-part1"
                        >SECURING <span> TOMORROW'S</span></span
                    >
                    <span class="head-part2">WORLD TODAY.</span>
                </h1>
                <h3>
                    <div>Lorem, ipsum dolor sit amet consectetur.</div>
                    <div>
                        Lorem, ipsum dolor sit amet consectetur adipisicing.
                    </div>
                    <div>Lorem ipsum dolor sit.</div>
                </h3>
            </div>
        </section>

        <section class="section2">
            <div class="section2-part1">
                <h1><span>WHO</span><span>WE ARE</span></h1>
            </div>

            <div class="section2-part2">
                <div class="para-1">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quasi sapiente officia earum quam id temporibus soluta,
                    voluptatum et doloribus officiis magnam illo accusamus ad
                    nam ea nostrum vitae, neque voluptatem.
                </div>
                <div class="para-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Natus nulla voluptates ullam fuga fugit quae quam. Odit
                    molestiae harum, reprehenderit quo quibusdam, ullam cum
                    expedita dignissimos sed mollitia eveniet ipsa.
                </div>

                <button>About Us</button>
            </div>
        </section>

        <section class="section3">
            <div class="section3-head">
                <div>
                    <h1><span>WHAT WE</span><span>OFFER</span></h1>
                    <h3>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sint, nisi.
                    </h3>
                </div>
            </div>

            <div class="section3-elements">
                <div class="section3-element el1">
                    <div class="element-content">
                        <h1 class="part-head">Lorem, ipsum.</h1>
                        <h3 class="part-subhead">
                            Lorem ipsum dolor sit amet consectetur.
                        </h3>
                    </div>
                    <img
                        src="https://images.unsplash.com/photo-1614624532983-4ce03382d63d?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="img" />
                </div>
                <div class="section3-element el2">
                    <img
                        src="https://images.unsplash.com/photo-1614624532983-4ce03382d63d?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="img" />
                    <div class="element-content">
                        <h1 class="part-head">Lorem, ipsum.</h1>
                        <h3 class="part-subhead">
                            Lorem ipsum dolor sit amet consectetur.
                        </h3>
                    </div>
                </div>
                <div class="section3-element el3">
                    <div class="element-content">
                        <h1 class="part-head">Lorem, ipsum.</h1>
                        <h3 class="part-subhead">
                            Lorem ipsum dolor sit amet consectetur.
                        </h3>
                    </div>
                    <img
                        src="https://images.unsplash.com/photo-1614624532983-4ce03382d63d?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="img" />
                </div>
            </div>
        </section>

        <section class="section4 vertical-flex-center">
            <div class="section4-part1">
                <h1 class="section4-head">
                    <span class="head2-part1">OUR</span>
                    <span class="head2-part2">EVENTS</span>
                </h1>
            </div>

            <div class="section4-part2">
                <div class="event event-1">
                    <div class="event-date">
                        <span>21 Mar</span><span>2025</span>
                    </div>
                    <div class="event-title">Lorem ipsum dolor sit amet.</div>
                </div>
                <div class="event event-2">
                    <div class="event-date">
                        <span>21 Mar</span><span>2025</span>
                    </div>
                    <div class="event-title">Lorem ipsum dolor sit amet.</div>
                </div>
                <div class="event event-3">
                    <div class="event-date">
                        <span>21 Mar</span><span>2025</span>
                    </div>
                    <div class="event-title">Lorem ipsum dolor sit amet.</div>
                </div>
                <div class="event event-4">
                    <div class="event-date">
                        <span>21 Mar</span><span>2025</span>
                    </div>
                    <div class="event-title">Lorem ipsum dolor sit amet.</div>
                </div>
            </div>
        </section>

        <div class="section5 vertical-flex-center">
            <div class="section5-head">
                <h1>JOIN OUR</h1>
                <h1>VENTURES</h1>
                <h1>HERE</h1>
            </div>

            <div class="social-links vertical-flex-center">
                <div class="social">
                    <div class="social-content">
                        <a href="#" class="social-text">LinkedIn</a>
                        <img
                            src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                            alt="linkedin"
                            class="social-icon" />
                    </div>
                    <div class="line"></div>
                </div>
                <div class="social">
                    <div class="social-content">
                        <a href="#" class="social-text">Instagram</a>
                        <img
                            src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png"
                            alt="linkedin"
                            class="social-icon" />
                    </div>
                    <div class="line"></div>
                </div>
                <div class="social">
                    <div class="social-content">
                        <a href="#" class="social-text">Twitter</a>
                        <img
                            src="https://cdn-icons-png.flaticon.com/512/5969/5969020.png"
                            alt="linkedin"
                            class="social-icon" />
                    </div>
                    <div class="line"></div>
                </div>
                <div class="social">
                    <div class="social-content">
                        <a href="#" class="social-text">YouTube</a>
                        <img
                            src="https://cdn-icons-png.flaticon.com/512/3670/3670147.png"
                            alt="linkedin"
                            class="social-icon" />
                    </div>
                    <div class="line"></div>
                </div>
                <div class="social">
                    <div class="social-content">
                        <a href="#" class="social-text">WhatsApp</a>
                        <img
                            src="https://cdn-icons-png.flaticon.com/512/3670/3670051.png"
                            alt="linkedin"
                            class="social-icon" />
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </main>

    <footer class="vertical-flex-center">
        <div class="club-logo">
            <img
                src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                alt="cp" />
            <h1>Cyber Phoenix</h1>
        </div>

        <div class="part-2 vertical-flex-center">
            <div>CSE Department</div>
            <div>GJUST, Hisar</div>
        </div>

        <div class="copyright-info">&copy; 2025 Cyber Phoenix</div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
    <script src="script.js"></script>
</body>
