<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cyber Phoenix</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap"
            rel="stylesheet" />

        <link rel="stylesheet" href="/css/global.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="shortcut icon" href="/assets/logo.ico" type="image/x-icon">
    </head>

    <body>
        <header><%- include("../includes/navbar.ejs") %></header>

        <main>
            <section class="section1">
                <div class="section1-head vertical-flex-center">
                    <h1 class="vertical-flex-center">
                        <span class="wrapper-span">
                            <span class="span-1">SECURING </span>
                            <span class="span-2"> TOMORROW'S</span>
                        </span>
                        <span class="span-3">WORLD TODAY.</span>
                    </h1>
                    <h3 class="vertical-flex-center">
                        <span
                            >Every realm needs guardians—cyberspace is no
                            exception.</span
                        >
                        <span>
                            Thus we rise to shatter myths, conquer
                            cybersecurity,
                        </span>
                        <span>and help forge the defenders of cyberspace!</span>
                    </h3>
                </div>
            </section>

            <section class="section2">
                <div class="section2-part1">
                    <h1>
                        <span class="span-1">WHO WE</span
                        ><span class="span-2">ARE</span>
                    </h1>
                </div>

                <div class="section2-part2">
                    <div class="para-1">
                        <div class="line">
                            <span
                                >The digital realm is engulfed in mystery,</span
                            >
                        </div>
                        <div class="line">
                            <span>with evil lurking around every corner</span>
                        </div>
                        <div class="line">
                            <span>ready to hunt the innocent souls</span>
                        </div>
                        <div class="line">
                            <span>who remain oblivious to this world.</span>
                        </div>
                    </div>
                    <div class="para-2">
                        But there are those who refuse to let innocent souls
                        fall prey to the dangers of the digital world. They
                        fight cyber threats, and empower safe exploration. They
                        are here to teach the ways of this realm, empowering
                        everyone to explore its wonders safely and without fear.
                        Meet these guardians below.
                    </div>

                    <form action="/about" method="get">
                        <button>About Us</button>
                    </form>
                </div>
            </section>

            <section class="section3">
                <div class="section3-head">
                    <div>
                        <h1>
                            <span class="span-1">WHAT WE</span
                            ><span class="span-2">OFFER</span>
                        </h1>
                        <h3>
                            <div class="line">
                                <span
                                    >Those seeking to explore this
                                    world</span
                                >
                            </div>
                            <div class="line">
                                <span>shall be provided with...</span>
                            </div>
                        </h3>
                    </div>
                </div>

                <div class="section3-elements">
                    <div class="section3-element el1">
                        <div class="element-content">
                            <h1 class="part-head">Expert talks</h1>
                            <h3 class="part-subhead">
                                Guidance and knowledge imparted by those who
                                have mastered the ways of cyber realm
                            </h3>
                        </div>
                        <img
                            src="https://images.unsplash.com/photo-1660836709468-acd4e164d948?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="img" />
                    </div>
                    <div class="section3-element el2">
                        <img
                            src="https://images.unsplash.com/photo-1660905418996-e1d234576715?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="img" />
                        <div class="element-content">
                            <h1 class="part-head">Trials & Riddles</h1>
                            <h3 class="part-subhead">
                                Deepen your grasp of the cyber realm through
                                specially curated trials and riddles.
                            </h3>
                        </div>
                    </div>
                    <div class="section3-element el3">
                        <div class="element-content">
                            <h1 class="part-head">Curated Hacklogs</h1>
                            <h3 class="part-subhead">
                                HackLogs filled with wisdom to keep everyone
                                updated on the ever-evolving cyber realm
                            </h3>
                        </div>
                        <img
                            src="https://images.unsplash.com/photo-1674027392842-29f8354e236c?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="img" />
                    </div>
                </div>
            </section>

            <section class="section4 vertical-flex-center">
                <div class="section4-part1">
                    <h1 class="section4-head vertical-flex-center">
                        <span class="span-1">OUR</span>
                        <span class="span-2">EVENTS</span>
                    </h1>
                </div>

                <div class="section4-part2">
                    <div class="event event-1">
                        <div class="event-date">
                            <span>27 Feb</span><span>2025</span>
                        </div>
                        <div class="event-title">
                            Phoenix 0x1: Cybersecurity & Dark web
                        </div>
                    </div>
                    <div class="event event-2">
                        <div class="event-date">
                            <span>21 Mar</span><span>2025</span>
                        </div>
                        <div class="event-title">
                            CyberNexus: Bridging theory and practices
                        </div>
                    </div>
                    <div class="event event-3">
                        <div class="event-date">
                            <span>2 Apr</span><span>2025</span>
                        </div>
                        <div class="event-title">Phoenix 0x2: OSINT</div>
                    </div>
                    <div class="event event-4">
                        <div class="event-date">
                            <span>To Be</span><span>Revealed</span>
                        </div>
                        <div class="event-title">
                            Phoenix 0x3: Social Engineering
                        </div>
                    </div>
                </div>

                <form action="/events" method="get">
                    <button>See All Events</button>
                </form>
            </section>

            <div class="section5 vertical-flex-center">
                <h1 class="section5-head vertical-flex-center">
                    <span class="span-1">JOIN OUR</span>
                    <span class="span-2">VENTURES</span>
                    <span class="span-3">HERE</span>
                </h1>

                <div class="social-links vertical-flex-center">
                    <a
                        class="social"
                        href="https://in.linkedin.com/company/cyber-ph0enix-0x">
                        <div class="social-content">
                            <div class="social-text">LinkedIn</div>
                            <img
                                src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
                                alt="linkedin"
                                class="social-icon" />
                        </div>
                        <div class="line"></div>
                    </a>
                    <a
                        class="social"
                        href="https://www.instagram.com/cyberph0enix_0x">
                        <div class="social-content">
                            <div class="social-text">Instagram</div>
                            <img
                                src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png"
                                alt="Instagram"
                                class="social-icon" />
                        </div>
                        <div class="line"></div>
                    </a>
                    <a class="social" href="https://x.com/CyberPh0enix_0x">
                        <div class="social-content">
                            <div class="social-text">Twitter</div>
                            <img
                                src="https://cdn-icons-png.flaticon.com/512/5969/5969020.png"
                                alt="Twitter/X"
                                class="social-icon" />
                        </div>
                        <div class="line"></div>
                    </a>
                    <a
                        class="social"
                        href="https://www.youtube.com/@CyberPh0enix_0x">
                        <div class="social-content">
                            <div class="social-text">YouTube</div>
                            <img
                                src="https://cdn-icons-png.flaticon.com/512/3670/3670147.png"
                                alt="YouTube"
                                class="social-icon" />
                        </div>
                        <div class="line"></div>
                    </a>
                    <a
                        class="social"
                        href="https://chat.whatsapp.com/C62gD1n4QmGAUMtuj9B4KR">
                        <div class="social-content">
                            <div class="social-text">WhatsApp</div>
                            <img
                                src="https://cdn-icons-png.flaticon.com/512/3670/3670051.png"
                                alt="WhatsApp"
                                class="social-icon" />
                        </div>
                        <div class="line"></div>
                    </a>
                </div>
            </div>
        </main>

        <%- include("../includes/footer.ejs") %>

        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
