@import 'highlight.js/styles/atom-one-dark.css';
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Kode+Mono:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --color-1: #e0eeee;
  --color-2: #121315;
  --font-title: "Chakra Petch", sans-serif;
  --font-normal: "Space Grotesk", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--color-2);
  color: var(--color-1);
  font-family: var(--font-normal);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-1);
}

/* Global container for standard padding */
.layout-content {
  padding: 120px 5vw 5vh 5vw;
  min-height: 80vh;
  max-width: 1400px;
  margin: 0 auto;
}
